* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
html, body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
/* Border-box = Makes the border to be included inside the padding and no extra space is left for border */
/* NavBar */
.border:hover {
    border: 0.0125rem solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 0.125rem;
}
.navbar {
    height: 4rem;
    background-color: #0F1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
/* Logo */
#nav-logo {
    height: 3.5rem;
    width: 7rem;
}

/* Address */
#nav-address {
    display: flex;
    height: 3.5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
}
#nav-addresstext {
    color: white;
}
#text1 {
    font-size: 0.7rem;
    font-weight: lighter;
}
#Country {
    font-size: 0.9rem;
    font-weight: bold;
}

/* Search Bar */
#nav-search {
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    justify-content: space-evenly;
    width: 60rem;
}
#search-bar {
    width: 55rem;
    height: 2.23rem;
    font-size: 1rem;
}
#nav-search:hover {
    border: 0.125rem solid rgb(253, 139, 0);
    border-radius: 0.35rem;
    cursor: pointer;
}

#search-drop {
    height: 2.5rem;
    width: 3rem;
    background-color: #e6e6e6;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
}
#search-icon {
    height: 2.5rem;
    width: 3rem;
    background-color: rgb(253, 139, 0);
    color: rgba(21, 0, 139, 0.692);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
#search-icon:hover {
    background-color: rgba(253, 139, 0, 0.9);
    cursor: pointer;
}

/* Language */
#nav-language {
    height: 2.5rem;
    width: 3.5rem;
    margin-top: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#language {
    cursor: pointer;
    background-color: #0F1111;
    color: white;
    border: none;
    font-weight: bolder;
}

/* Accounts */
#nav-accounts {
    height: 2.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem 0rem 0.25rem;
}
#message {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}
#accounts-menu {
    background-color: #0F1111;
    color: white;
    border: none;
    font-size: 0.8rem;
    font-weight: bolder;
    cursor: pointer;
}

/* Orders & Returns */
#nav-orders {
    height: 2rem;
    width: 5rem;
    padding: 0.5rem 0.125rem 0.125rem 0.5rem;
    margin-top: 0.5rem;
}
#text1 {
    font-size: 0.8rem;
}
#text2 {
    font-size: 0.9rem;
    font-weight: bolder;
}

/* Cart */
#nav-cart {
    height: 2.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
#cart-logo i {
    font-size: 1rem;
}

/* Panel */
#main-panel {
    height: 2.5rem;
    background-color: #232F3E;
    color: white;
    display: flex;
}
.panel {
    margin: 0rem 0.25rem 0rem 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.panel:hover {
    border: 0.0125rem solid white;
    border-radius: 0.25rem;
    cursor: pointer;
}
#all {
    font-weight: bold;
}

/* Hero Section */
.hero-section {
    background-image: url("./assets/main_image.jpg");
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: end;
}

/* Redirect Message */
.redirect-message {
    height: 1rem;
    width: 100%;
    background-color: #f5f6f6;
    color: #0f1111;
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    margin-bottom: 3rem;
}
#redirect {
    color: #2162A1;
    text-decoration: none;
}

/* Shop-Section */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.catlog {
    height: 26rem;
    width: 23rem;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem 0rem 1rem;
}
.catlog-text {
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}
.catlog-image {
    margin-left: 1.5rem;
}
.catlog-hyp {
    margin: 2rem 1.5rem;
}
.catlog-hyp-text {
    color: #2162A1;
    text-decoration: none;
    font-size: 0.85rem;
}

.multi-image-catlog-half {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}
.caption {
    font-size: 0.85rem;
}
.image-2 {
    margin-left: 1.5rem;
}
.catlog-hyp-2 {
    margin: 5rem 1.5rem;
}
.image-3 {
    margin-left: 0rem;
}
.catlog-hyp-3 {
    margin: 17px 15px;
}
.multi-image-catlog-half-2 {
    display: flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.catalog-2 {
    height:18rem;
    width: 100%;
    background-color: white;
    margin-top: 2rem;
    padding: 0.75rem 1rem;
}
.catlog-text-2 {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
}
.image-container {
    margin-top: 1rem;   
    display: flex;
    justify-content: space-evenly;
}

/* Footer And Copyright */

#back-to-top {
    height: 2.5rem;
    padding-top: 0.5rem;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: center;
}
#back-to-top:hover {
    background-color:#314358;
    cursor: pointer;
}
#back-message {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
}
#contact-support {
    display:flex;
    justify-content: space-evenly;
    background-color: #131A22;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.0675rem solid white;
}
.heading {
    font-weight: bold;
    color: white;
    margin: 0rem 0rem 1rem 2rem;
}
.content {
    color: #DDDDDD;
    margin-bottom: 1rem;
}
li {
    margin-bottom: 0.75rem;
}
#copyright {
    display: flex;
    justify-content: space-evenly;
    background-color: #131A22;
    padding: 1rem 0rem 1rem;
}
.copyright-message {
    color: #DDDDDD;
    font-size: 0.85rem;
    padding: 1rem 0rem 0.5rem;
}
#disclaimer {
    background-color: #131A22;
    color: #DDDDDD;
    text-align: center;
}

